body {
    background-color: #36393e;
}

.revealed {
    border: 1px outset #840424;
    background-color: #cc342c;
    height: 40px;
    width: 40px;
    margin: 0 auto;
}

.notRevealed {
    border: 1px outset #840424;
    background-color: #a41424;
    height: 40px;
    width: 40px;
    margin: 0 auto;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

.yellow-square {
    background-color: #ffdc00;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

#width,
#height,
#numberOfMines {
    display: inline-block;
}

label {
    color: white;
}

input {
    width: 40px;
}

.inlineForm {
    display: inline;
}
